<div class="screen-header">
  <div class="user">
  <div class="user-number">
    <%= "No.#{current_user.number}" %>
  </div>
  <div class="user-name">
    <%= "#{current_user.name} さん" %>
  </div>
  </div>
  <div class="button">
    <%= link_to "アカウント編集", edit_user_path(current_user) %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
  </div>
</div>

<div class="time">
  <div class="now-time">
    <p class="clock-date"></p>
    <p class="clock-time"></p>
  </div>
</div>

<div class="work">
  <div class="total-time">
    <p>合計残業時間  <%= @over_time[current_user.id] %> 時間</p>
  </div>
</div>

<%= form_with model: @kintai,url: kintais_path, local: true do |f| %>
  <div class="buttons">
    <div class="button-below">
      <%= f.submit "出勤", id: "start-btn", class: 'form-submit' %>
    </div>
    <div class="button-below">
      <%= f.submit "退勤", id: "end-btn", class: 'form-submit' %>
    </div>
  </div>
<% end %>
<%# 管理者画面 %>
<% if current_user.admin? %>
  <div class="user-list">
    <%= render "user_list" %>
  </div>
<% end %>